html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.headline {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("Images/header-illsutration-mobile.svg") no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header {
  width: 100%;
  display: flex;
  justify-content: center;
  flex: 2 1 100px;
}

#nav-bar {
  margin: 0 5%;
  align-self: flex-start;
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  flex: 1;
}

.fa1 {
  font-size: 20px;
}

#welcome {
  width: 90px;
  height: 28px;
}

#content {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 192px;
  flex: 2 1 480px;
  justify-content: center;
}

.main_content {
  flex: 1;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

#green-word {
  color: #36b37e;
}

.secondary-text {
  flex: 1;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #172b4d;
  text-align: center;
}

li {
  list-style: none;
}

.div-links {
  margin-top: 20%;
  flex: 1;
  justify-content: center;
  width: 60%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
  max-height: 50px;
}

.div-links ul {
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
}

.cate > li {
  border-radius: 4px;
  background-color: #ebf0ee;
  padding: 8px 16px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
}

.list-about > li {
  color: #36b37e;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  background: #fff;
  padding: 8px 12px;
  text-align: center;
  border-radius: 4px;
}

.div-links li {
  display: flex;
  flex: 1;
  margin: 0;
  padding: 1;
  justify-content: center;
  align-items: center;
}

.fa {
  font-size: 23px;
  color: #505f79;
}

.github {
  color: #fff;
  background-color: #505f79;
}

.works-grid {
  position: relative;
  display: grid;
  height: 480vh;
  width: 100%;
  max-height: 2910px;
  grid-template-columns: 85%;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  row-gap: 10px;
  margin-top: 0;
}

.h3-works {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin-bottom: 20px;
}

.work-hr {
  width: 48px;
  height: 4px;
  background: #36b37e;
  border-radius: 24px;
  margin-bottom: 62px;
}

.grid-item {
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 474px;
  max-width: 327px;
}

.img-holder {
  width: 100%;
  height: 53%;
  background: #ebf0ee;
}

.text3 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 0;
  color: #3a4a42;
}

.cate {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  padding: 0;
  text-align: center;
  width: 100%;
}

.button-flex {
  background: #36b37f;
  color: #fff;
  width: 122px;
  height: 48px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  border-radius: 4px;
  border: none;
  margin-top: 10px;
}

.about-me {
  position: relative;
  width: 90%;
  max-width: 400px;
  height: 70vh;
  max-height: 300px;
  margin: 0 auto;
  margin-bottom: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.il-about {
  position: relative;
  display: inline;
  z-index: -1;
}

.il-1-a {
  left: 40vw;
  top: 40%;
}

.il-2-a {
  top: 100%;
  left: -40vw;
}

.h2-about {
  display: block;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  width: 100%;
  margin: 0;
  padding: 0;
  flex: none;
}

.p-about {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  margin-bottom: 10px;
  flex: none;
}

.button-about {
  width: 159px;
  height: 48px;
  background: #36b37f;
  border-radius: 4px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  border: none;
  flex: none;
  margin-top: 20px;
}

.about-me-grid {
  position: relative;
  display: grid;
  width: 100%;
  height: 1100px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 85%;
  justify-content: center;
  row-gap: 20px;
  align-items: center;
  margin: 30px auto 20px auto;
}

.grid-item-about {
  width: min(327px, 80vw);
  height: 352px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ebf0ee;
  border-radius: 8px;
}

.text3-about {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
}

.list-about {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.form-section {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(Images/illustration-contact-form.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 68%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: auto;
  box-sizing: border-box;
}

.h2-form {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

.form input,
#textarea {
  width: 90%;
  flex: 1;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #6b778c;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  padding: 13px 16px;
  margin: 12px auto;
}

#user-name,
#user-email {
  max-height: 30px;
  color: #6b778c;
}

#textarea {
  color: #091e42;
  padding: 12px;
  height: 114px;
  border: 1px solid #60c095;
  width: 92%;
}

#submit {
  padding: 12px;
  gap: 10px;
  width: 129px;
  max-height: 48px;
  background: #36b37f;
  border-radius: 4px;
  color: #fff;
  margin-bottom: 50px;
  border: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
}

.button-h:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.button-h:active {
  background: #008552;
}

.contact-ill {
  position: relative;
  top: -50%;
  right: -42vw;
}

.last-link {
  display: flex;
  height: 20px;
  flex: 1 1 20px;
  padding: 0;
  margin: 0 auto;
}

.last-email {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
}

footer {
  margin-bottom: 250px;
}

.desktop {
  display:none;
  position: absolute;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
}

@media  screen and (min-width:768px) {
  .mobile {
    display: none;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0; 
  }

  .desktop {
    display: flex;
  }

  header {
    position: absolute; 
    top: 0;
    height: 50px;
    z-index: 10;
  }

  #nav-bar {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    width: 200px;
    margin: 0 auto;

  }

  .ul-nav {
    top: unset;
    left: unset;
    list-style: none;
    justify-content: center;
    align-items: center;
    
  }
  .ul-nav a {
    text-decoration: none;
    color: #172B4D;
    font-weight: 800;
  }

  .ul-nav li {
    margin: 0 20px;
    font-family: 'Inter', sans-serif;
  }

  .headline {
    background-image: url("Desktop-images/Header-llustration-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    height: 100vh;
  }

  #content {
    margin-top: 5%;
    margin-bottom: 24px;
    max-width: 920px;
    max-height: 200px;
  }

  
  .main_content {
    margin: 10px auto;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
  }

  .secondary-text {
    margin: 0 60px 40px 40px;
    padding: 0 10px;
    line-height: 32px;
  }

  .div-links {
    margin-top: 10px;
    width: 20%;
  }

  .a2 {
    order: 1;
  }

  .a5 {
    order: 2;
  }

  .a1 {
    order: 3;
  }

  .a3 {
    order: 5;
  }



  .work-section {
    position: relative;
    top: 110vh;
  }

}